body {
    background: rgb(255, 253, 253);
    font-family: verdana;
    max-width: 1350px;
    margin: auto;
}

#title, .subtitle, .post_title {
    color: Blue;
    text-align: center;
    
}

#title {
    font-size: 40px;
    text-decoration: uppercase;
}

a {
    text-decoration: underline;
    color: #000;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0%;
    margin-bottom: 15px; 
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a {
    text-decoration: none;
}

.post {
    background: #4072fd;
    padding: 15px;
    border: 3px dotted #000;
    border-radius: 5px;
}

.post_content {
    margin: 0%;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.photo {
    border: 1px solid #000;
    border-radius: 20%; 
}